//google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

//base styles
$font: 'Open Sans', sans-serif;
$headfont: 'Montserrat', sans-serif;
$bgcolor: yellow;
